@model Entity.ViewModel.PasswordRecovery

@{
    ViewData["Title"] = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row justify-content-sm-center justify-content-md-center">
        <form class="col-12 col-sm-10 col-md-4 card" asp-action="PasswordRecovery">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <h6>Password Recovery</h6>
                    <hr />
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityQuestion" class="control-label"></label>
                <input asp-for="SecurityQuestion" class="form-control" />
                <span asp-validation-for="SecurityQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityAnswer" class="control-label"></label>
                <input asp-for="SecurityAnswer" class="form-control" />
                <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
            </div>
            @if (ViewBag.success != null)
            {
                <span class="text-success">@ViewBag.success</span>
            }
            else if (ViewBag.error != null)
            {
                <span class="text-danger">@ViewBag.error</span>
            }
            <div class="form-group">
                <input type="submit" value="Recovery" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
